aside
{
    background-color: palegoldenrod;
    width: 35vw;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
}
h2
{
    margin-top: 0px;
}
#wrapper
{
    width: 30vw;
    float: left;
}
header
{
    background-color: powderblue;
    height: 100px;
    padding-top: 10px;
    text-align: right;
    width: 100vw;
}
h1
{
    padding-right: 40px;
}
body
{
    margin: 0px;
}
div
{
    display: flex;
    padding: 0px;
}
main
{
    padding-top: 50px;
    padding-left: 20px;
}